:root {
  --background: rgba(242, 242, 242, 1);
  --bg-dark: rgba(230, 230, 230, 1);
  --bg-light: rgba(255, 255, 255, 1);
  --border: rgba(203, 203, 203, 1);
  --buttonsprimary: rgba(0, 82, 255, 1);
  --buttonsprimary-hover: rgba(0, 66, 204, 1);
  --buttonsreject: rgba(231, 0, 31, 1);
  --buttonssecondary: rgba(0, 255, 173, 1);
  --caption-font-family: "Roboto", Helvetica;
  --caption-font-size: 11px;
  --caption-font-style: normal;
  --caption-font-weight: 500;
  --caption-letter-spacing: 0.5px;
  --caption-line-height: 16px;
  --large-body-font-family: "Roboto", Helvetica;
  --large-body-font-size: 16px;
  --large-body-font-style: normal;
  --large-body-font-weight: 400;
  --large-body-letter-spacing: 0.5px;
  --large-body-line-height: 24px;
  --large-header-font-family: "Roboto", Helvetica;
  --large-header-font-size: 32px;
  --large-header-font-style: normal;
  --large-header-font-weight: 500;
  --large-header-letter-spacing: 0px;
  --large-header-line-height: 40px;
  --medium-body-font-family: "Roboto", Helvetica;
  --medium-body-font-size: 14px;
  --medium-body-font-style: normal;
  --medium-body-font-weight: 400;
  --medium-body-letter-spacing: 0.25px;
  --medium-body-line-height: 20px;
  --medium-header-font-family: "Roboto", Helvetica;
  --medium-header-font-size: 28px;
  --medium-header-font-style: normal;
  --medium-header-font-weight: 500;
  --medium-header-letter-spacing: 0px;
  --medium-header-line-height: 36px;
  --medium-title-font-family: "Roboto", Helvetica;
  --medium-title-font-size: 16px;
  --medium-title-font-style: normal;
  --medium-title-font-weight: 600;
  --medium-title-letter-spacing: 0.15000000596046448px;
  --medium-title-line-height: 24px;
  --small-header-font-family: "Roboto", Helvetica;
  --small-header-font-size: 24px;
  --small-header-font-style: normal;
  --small-header-font-weight: 500;
  --small-header-letter-spacing: 0px;
  --small-header-line-height: 32px;
  --text: rgba(0, 0, 0, 1);
  --text-large-semi-bold-font-family: "Roboto", Helvetica;
  --text-large-semi-bold-font-size: 20px;
  --text-large-semi-bold-font-style: normal;
  --text-large-semi-bold-font-weight: 600;
  --text-large-semi-bold-letter-spacing: 0px;
  --text-large-semi-bold-line-height: 150%;
  --text-light: rgba(102, 102, 102, 1);
}
